 
      <!-- ======= Blog Section ======= -->
      <section id="blog" class="blog" style="padding-top: 100px;">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Blog</h2>
                <p></p>
            </div>
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 entries">
  
              <article class="entry">
  
                <h2 class="entry-title">
                  <a href="blog-first">BEST 150CC TO 160CC BIKE IN INDIA | LATEST 
                  </a>
                </h2>
  
                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-first">Hrishikesh Gunjal</a></li>
                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-first"><time datetime="2020-09-01">Sep, 2020</time></a></li>
                    <!-- <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="blog-single.html">12 Comments</a></li> -->
                  </ul>
                </div>
  
                <div class="entry-content">
                  <p>Are you looking for your first 150CC to 160CC bike then you are at the right place. 150CC to 160CC bike segment is the most wide spread segment in India, this segment offers you various types of bike starting from daily commuting bike to powerhouse racing machine and from tourer to stylish looking beast you name it and this segment will offer you the best motorcycle which suits you the most as per your requirement.. </p>
                  <div class="read-more">
                    <a href="blog-first">Read More</a>
                  </div>
                </div>
              </article><!-- End blog entry -->



              <article class="entry">
  
                <h2 class="entry-title">
                  <a href="blog-second">The Honda “H’ness” 
                  </a>
                </h2>
  
                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-second">Hrishikesh Gunjal</a></li>
                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-second"><time datetime="2020-09-01">Oct, 2020</time></a></li>
                    <!-- <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="blog-single.html">12 Comments</a></li> -->
                  </ul>
                </div>
  
                <div class="entry-content">
                  <p>Honda has came up with a new retro Style motorcycle in sengment which already has a king ruling in the form of Royal Enfield.</p>
                  <p>With the launch of honda H’ness the segment has spiced up a little and we will get to see a fight for the greatest in the segment. Honda H’ness will be going up against the likes of Royal Enfield and Benelli Imperiale 400 and Jawa42.</p>
                  <p>The H’ness will be available through its BigWings Dealership and is availabe in two Varients Deluxe and Deluxe Pro..</p>
                  <div class="read-more">
                    <a href="blog-second">Read More</a>
                  </div>
                </div>
              </article><!-- End blog entry -->

            </div><!-- End blog entries list -->
            <div class="col-lg-2"></div>
          </div>
  
        </div>
      </section><!-- End Blog Section -->
