 
      <!-- ======= Blog Section ======= -->
      <section id="blog" class="blog" style="padding-top: 100px;">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Blog</h2>
                <p></p>
            </div>
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 entries">
  
              <article class="entry">
  
                <!-- <div class="entry-img">
                  <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                </div> -->
  
                <h2 class="entry-title">
                  <a href="blog-first">BEST 150CC TO 160CC BIKE IN INDIA | LATEST 
                  </a>
                </h2>
  
                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-first">Hrishikesh Gunjal</a></li>
                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-first"><time datetime="2020-09-01">Sep, 2020</time></a></li>
                    <!-- <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="blog-single.html">12 Comments</a></li> -->
                  </ul>
                </div>
  
                <div class="entry-content">
                    <p>Are you looking for your first 150CC to 160CC bike then you are at the right place. 150CC to 160CC bike segment is the most wide spread segment in India, this segment offers you various types of bike starting from daily commuting bike to powerhouse racing machine and from tourer to stylish looking beast you name it and this segment will offer you the best motorcycle which suits you the most as per your requirement.          </p>
                    <p>Bike manufacturers such as BAJAJ, HONDA, HERO, TVS, SUZUKI, YAMAHA etc. offer you a wide range of motorcycles, it’s just up to you what kind of features you want in your bike and your usage of your bike.</p>
                    <p>The price of the motorcycle is the most important and sensitive factor in Indian market as most of the people prefer good power output with minimum maintenance and low cost of bike.</p>
                    <p>The price in this segment will vary from 65 k to 1.50 lacs depending upon which type of bike you want to buy. Daily commuting bikes are the most pocket friendly whereas the sports bike will make a hole in your pocket.</p>
                    <p>Starting from most Affordable to most Expensive 150CC to 160CC bike available in Indian market in July 2019.</p>
                    <p>List of 150CC to 160CC bikes in India July 2019 : </p>
                    <p><b>BAJAJ MOTORCYCLES:</b></p>
                   
                    <p class="font-italic">PULSAR 150</p><br>

                    <div class="entry-img">
                        <img src="assets/img/blog/Pulsar 150 Black Red.jpg" alt="" class="img-fluid">
                    </div><br>
                    <div class="">
                      <img src="assets/img/tables/PULSAR 150.jpg" alt="" class="img-fluid">
                    </div><br>
                    


                    <p class="font-italic">AVENGER 160</p><br>
                    
                    <div class="entry-img">
                        <img src="assets/img/blog/Avenger Street 160 Model Image.jpg" alt="" class="img-fluid">
                    </div><br>
                    <div>
                      <img src="assets/img/tables/AVENGER 160.jpg" alt="" class="img-fluid">
                    </div><br>

                    <p class="font-italic">BAJAJ V15</p><br>
                    
                    <div class="entry-img">
                        <img src="assets/img/blog/V15 Model Image.jpg" alt="" class="img-fluid">
                    </div><br>
                    <div>
                      <img src="assets/img/tables/V15 2019.jpg" alt="" class="img-fluid">
                    </div><br>


                    <p><b>HONDA MOTORCYCLES</b> </p>
                    <p class="font-italic">CB-UNICORN 150</p><br>
                    
                    <div class="entry-img">
                        <img src="assets/img/blog/CB Unicorn 150 Model Image.jpg" alt="" class="img-fluid">
                    </div><br>
                    <div>
                      <img src="assets/img/tables/CB-UNICORN 150.jpg" alt="" class="img-fluid">
                    </div><br>

                    <p class="font-italic">CB-HORNET 160</p><br>
                    
                    <div class="entry-img">
                        <img src="assets/img/blog/CB Hornet 160R Model Image.jpg" alt="" class="img-fluid">
                    </div><br>
                    <div>
                      <img src="assets/img/tables/CB-HORNET 160.jpg" alt="" class="img-fluid">
                    </div><br>

                    <p class="font-italic">HONDA X-BLAZE</p><br>
                    
                    <div class="entry-img">
                        <img src="assets/img/blog/X-Blade Model Image.jpg" alt="" class="img-fluid">
                    </div><br>
                    <div>
                      <img src="assets/img/tables/HONDA X-BLAZE.jpg" alt="" class="img-fluid">
                    </div><br>


                    <p><b>TVS MOTORCYCLE</b></p>
                    <p class="font-italic">TVS APACHE RTR160</p><br>
                    
                    <div class="entry-img">
                        <img src="assets/img/blog/Apache RTR 160 4V Model Image.jpg" alt="" class="img-fluid">
                    </div><br>
                    <div>
                      <img src="assets/img/tables/APACHE RTR160.jpg" alt="" class="img-fluid">
                    </div><br>


                    <p><b>HERO MOTORCYCLES</b></p>
                    <p class="font-italic">HERO XTREAM SPORTS</p><br>
                    
                    <div class="entry-img">
                        <img src="assets/img/blog/Xtreme Sports Model Image.jpg" alt="" class="img-fluid">
                    </div><br>
                    <div>
                      <img src="assets/img/tables/HERO XTREAM SPORTS.jpg" alt="" class="img-fluid">
                    </div><br>

                    <p><b>YAMAHA MOTORCYCLE</b></p>
                    <p class="font-italic">YAMAHA FZ - F1 </p><br>
                    
                    <div class="entry-img">
                        <img src="assets/img/blog/FZ V3 Model Image.jpg" alt="" class="img-fluid">
                    </div><br>
                    <div>
                      <img src="assets/img/tables/YAMAHA FZ - F1.jpg" alt="" class="img-fluid">
                    </div><br>

                    <p class="font-italic">YAMAHA FZS – F1(SPECIAL EDISION)</p><br>
                    
                    <div class="entry-img">
                        <img src="assets/img/blog/FZ V3 Model Image.jpg" alt="" class="img-fluid">
                    </div><br>
                    <div>
                      <img src="assets/img/tables/YAMAHA FZS – F1(SPECIAL EDISION).jpg" alt="" class="img-fluid">
                    </div><br>



                    <p class="font-italic">YAMAHA R15 V3</p><br>
                    
                    <div class="entry-img">
                        <img src="assets/img/blog/YZF R15 V3 Darknight.jpg" alt="" class="img-fluid">
                    </div><br>
                    <div>
                      <img src="assets/img/tables/YAMAHA R15 V3.jpg" alt="" class="img-fluid">
                    </div><br>

                    <p class="font-italic">YAMAHA MT 15</p><br>
                    
                    <div class="entry-img">
                        <img src="assets/img/blog/MT 15 Side.jpg" alt="" class="img-fluid">
                    </div><br>
                    <div>
                      <img src="assets/img/tables/YAMAHA MT 15.jpg" alt="" class="img-fluid">
                    </div><br>

                    <p><b>SUZUKI MOTORCYCLES</b></p>
                    <p class="font-italic">SUZUKI GIXXER 150</p><br>
                    
                    <div class="entry-img">
                        <img src="assets/img/blog/Gixxer [2019] Model Image.jpg" alt="" class="img-fluid">
                    </div><br>
                    <div>
                      <img src="assets/img/tables/SUZUKI GIXXER 150.jpg" alt="" class="img-fluid">
                    </div><br>

                    <p class="font-italic">SUZUKI GIXXER SF</p><br>
                    
                    <div class="entry-img">
                        <img src="assets/img/blog/Gixxer SF Model Image.jpg" alt="" class="img-fluid">
                    </div><br>
                    <div>
                      <img src="assets/img/tables/SUZUKI GIXXER SF.jpg" alt="" class="img-fluid">
                    </div><br>

                    <p><b>CONCLUSION</b></p>
                    <p>Buying bikes comes with Responsibilities towards your fellow bikers and pedestrian. </p>
                    <p>As an Auto reviewer I would like to tell all you readers that, before you buy any Bike you should first test ride the bike and check weather that particular bike suites your requirement.do check the facilities e.g. servicing, road side assistance, spare parts availability etc.  Provided by the company while buying.</p>
                    <p>I would also like to tell you that if you need to commute on daily basis in city (50-60km) buy a bike with more mileage it would be pocket friendly and it will fulfil your requirements or if you are willing to travel long distance during weekend’s tourer bikes are best for that. Always check whether you are comfortable with the riding position of bike.</p>
                   
                </div>
              </article><!-- End blog entry -->
            </div><!-- End blog entries list -->
            <div class="col-lg-2"></div>
          </div>
  
        </div>
      </section><!-- End Blog Section -->
