

<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

      <div class="row no-gutters">
        <div class="content col-xl-5 d-flex align-items-stretch">
          <div class="content">
            <h3>Since 2019</h3>
            <p>
              Our passion is cars and bikes and our unique experience has brought us all together to share what we love. As a group we enthusiastic about cars and bikes. While we'll appreciate the classics, we have expanded to include more modern day models. Making way for the automobile that are instant hits!!!
            </p>
            <a href="https://www.facebook.com/bestautoxpert/?modal=admin_todo_tour" class="about-btn"><span>Subscribe Now</span> <i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
        <div class="col-xl-7 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-receipt"></i>
                <h4>What we look for</h4>
                <p>I've never seen a car I didn't like is our motto! All cars pre-1990 are welcome. We pride ourselves with the diversity our club has to offer. Gear heads to novices are welcome!</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-search"></i>
                <h4>Where to find us</h4>
                <p>Between all of our members, we have a diverse exciting collections. You can catch us all at a few local car nights as well as our monthly meets-ups at designated locations each month.</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                
              </div>
              <div class="social-links col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                
                  <a href="https://twitter.com/home" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="https://www.facebook.com/bestautoxpert/?modal=admin_todo_tour" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="https://www.instagram.com/bestautoxpert/" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="home" class="google-plus"><i class="bx bxl-whatsapp"></i></a>                
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  
 
   
    <!-- ======= Clients Section ======= -->
  <!-- <section id="clients" class="clients">
    <div class="container-fluid" data-aos="zoom-in">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <div class="owl-carousel clients-carousel">
            <img src="../../../assets/img/clients/client-1.png" alt="">
            <img src="assets/img/clients/client-2.png" alt="">
            <img src="assets/img/clients/client-3.png" alt="">
            <img src="assets/img/clients/client-4.png" alt="">
            <img src="assets/img/clients/client-5.png" alt="">
            <img src="assets/img/clients/client-6.png" alt="">
            <img src="assets/img/clients/client-7.png" alt="">
            <img src="assets/img/clients/client-8.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- End Clients Section -->
   

  