<router-outlet></router-outlet>
<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-6 footer-contact">
          <h3>BESTAUTO XPERT</h3><br>
          <i class="bx bx-map">&nbsp;&nbsp;</i>Kharadi, Pune - 411014<br>
          <i class="bx bx-phone-call">&nbsp;&nbsp;</i>+91 98813 80606<br>
          <i class="bx bx-envelope">&nbsp;&nbsp;</i> bestautoxpert@gmail.com<br><br>
          <!-- <div class="social-links mt-3">
            <a href="https://twitter.com/home" class="twitter"><i class="bx bxl-twitter"></i></a>&nbsp;
            <a href="https://www.facebook.com/bestautoxpert/?modal=admin_todo_tour" class="facebook"><i class="bx bxl-facebook"></i></a>&nbsp;
            <a href="https://www.instagram.com/bestautoxpert/" class="instagram"><i class="bx bxl-instagram"></i></a>&nbsp;
          </div> -->
        </div>
        
        <div class="col-lg-6 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i><a href="/home">Home</a></li>
            <li><i class="bx bx-chevron-right"></i><a href="gallary">Gallary</a></li>
            <li><i class="bx bx-chevron-right"></i><a href="blog">Blog</a></li>
            <li><i class="bx bx-chevron-right"></i><a href="events">Events</a></li>
            <li><i class="bx bx-chevron-right"></i><a href="contact">Contact</a></li>
          </ul>
        </div>


      

      </div>
    </div>
  </div>
  <div class="container d-md-flex py-4">
    <div class="mr-md-auto text-center text-md-left">
      <div class="copyright">
        &copy; <strong><span>BESTAUTOXPERT</span></strong> All Rights Reserved
      </div>
      <div class="credits">
        Designed By <a href="https://ironicsolutions.netlify.app/">&nbsp;IRONIC SOLUTIONS</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="https://twitter.com/home" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="https://www.facebook.com/bestautoxpert/?modal=admin_todo_tour" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/bestautoxpert/" class="instagram"><i class="bx bxl-instagram"></i></a>
    </div>
  </div>
</footer><!-- End Footer -->

