 
      <!-- ======= Blog Section ======= -->
      <section id="blog" class="blog" style="padding-top: 100px;">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Blog</h2>
                <p></p>
            </div>
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 entries">
  
              <article class="entry">
  
                <!-- <div class="entry-img">
                  <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                </div> -->
  
                <h2 class="entry-title">
                  <a href="blog-second">The Honda “H’ness” </a>
                </h2>
  
                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-second">Hrishikesh Gunjal</a></li>
                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-second"><time datetime="2020-09-01">Oct, 2020</time></a></li>
                    <!-- <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="blog-single.html">12 Comments</a></li> -->
                  </ul>
                </div>
  
                <div class="entry-content">
                    <p>Honda has came up with a new retro Style motorcycle in sengment which already has a king
                        ruling in the form of Royal Enfield.</p>
                    <p>With the launch of honda H’ness the segment has spiced up a little and we will get to see a fight for the greatest in the segment. Honda H’ness will be going up against the likes of Royal Enfield and Benelli Imperiale 400 and Jawa42.
                    </p>
                    <p>The H’ness will be available through its BigWings Dealership and is availabe in two Varients Deluxe and Deluxe Pro </p>
                    
                    <div  style="padding-top: 10px;padding-bottom: 10px;">
                        <img src="assets/img/blog/Blog-2-1.jpg" alt="" class="img-fluid">
                    </div>
                    
                    <p>Talking about the specification of the H’ness,it wil be powered by a 348.37 CC Single Cylinder  4 Stroke Over Head Camshaft Engine (OHC) which will be Air Cooled and can produce upto 20.8 bhp of power and around 30 Nm of Torque. The Engine will be paired with a 5 speed Gear Box and will be mounted on a low position to lower centre of gravity to inprove riding experience. the frame will be equiped with telescopic Suspension with 19 inch wheel and 310mm Disc at the front end and will get twin hydraulic shocks with 18 inch wheel and 240mm disc.
                    </p>

                    <div  style="padding-top: 10px;padding-bottom: 10px;">
                        <img src="assets/img/blog/Blog-2-2.jpg" alt="" class="img-fluid">
                    </div>

                    <p>The new H’ness will be equipped with number of features which includes duel channel ABS,full Circular LED headlamps, LED indicators,digital-analog instrument dial, Bluetooth, Smartphone voice control System, Duel tone colour and many more features.The seats are very well cushioned to make rider as well as pellion have a confertable ride and will have a fuel tank of 15 liter capacity.</p>
                    <p>Aver all the new H’ness cruser will have a closely set handlebar which will give rider a upright riding position and  give rider a confortable ride for his daily commute as well as highway getaways.</p>
                    <p>The Bike is prices at 1.85 lakhs for the deluxe model and goes upto 1.9 lakhs Ex Showroom.
                    </p>
                    <div  style="padding-top: 10px;padding-bottom: 10px;">
                        <img src="assets/img/blog/Blog-2-3.jpg" alt="" class="img-fluid">
                    </div>
                </div>
              </article><!-- End blog entry -->
            </div><!-- End blog entries list -->
            <div class="col-lg-2"></div>
          </div>
  
        </div>
      </section><!-- End Blog Section -->
